---
import type { MarkdownInstance } from "astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Link from "@/components/atoms/Link.astro";

export async function getStaticPaths() {
  const allPosts: MarkdownInstance<Record<string, any>>[] = await Astro.glob(
    "src/pages/posts/*.md",
  );

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const allPosts: MarkdownInstance<Record<string, any>>[] =
  await Astro.glob("../posts/*.md");

console.log(allPosts);

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post) => (
        <li>
          <Link href={post.url}>{post.frontmatter.title}</Link>
        </li>
      ))
    }
  </ul>

  <div>
    <Link href="/tags" class="mt-4"> &larr; All tags</Link>
  </div>
</BaseLayout>
