---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Link from "@/components/atoms/Link.astro";
const allPosts = await Astro.glob("/src/pages/posts/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="mb-4">
    <h2>My Astro Learning Blog</h2>
    <p>This is where I will post about my journey learning Astro.</p>
  </div>
  <ul>
    {
      allPosts.map((post) => (
        <li class="mb-2">
          <Link href={post.url}>{post.frontmatter.title}</Link>
        </li>
      ))
    }
  </ul>
</BaseLayout>
